<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter-mapping>
        <filter-name>FiltroAcesso</filter-name>
        <servlet-name>ControleSkate</servlet-name>
        <servlet-name>ControleVenda</servlet-name>
        <servlet-name>ControlePeca</servlet-name>
        <servlet-name>ControleSolicitacao</servlet-name>
        <servlet-name>ControlePessoa</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>ControleSkate</servlet-name>
        <servlet-class>dskt.controller.ControleSkate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleVenda</servlet-name>
        <servlet-class>dskt.controller.ControleVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleSkate</servlet-name>
        <url-pattern>/ControleSkate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControlePeca</servlet-name>
        <servlet-class>dskt.controller.ControlePeca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlePeca</servlet-name>
        <url-pattern>/ControlePeca</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControleSolicitacao</servlet-name>
        <servlet-class>dskt.controller.ControleSolicitacao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleSolicitacao</servlet-name>
        <url-pattern>/ControleSolicitacao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControlePessoa</servlet-name>
        <servlet-class>dskt.controller.ControlePessoa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlePessoa</servlet-name>
        <url-pattern>/ControlePessoa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControleAcesso</servlet-name>
        <servlet-class>dskt.controller.ControleAcesso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleAcesso</servlet-name>
        <url-pattern>/ControleAcesso</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FiltroAcesso</filter-name>
        <filter-class>dskt.filters.FiltroAcesso</filter-class>
    </filter>
    <servlet-mapping>
        <servlet-name>ControleVenda</servlet-name>
        <url-pattern>/ControleVenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
